/* Customizer */
.app-blue-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
  min-height: 120px;
  color: #333;
  font-size: 130%;
  border: 1px solid #7FE7FF;
  border-radius: 4px;
  background: #7FE7FF;
}

.app-blue-box button,
#app-toolbar button {
  margin: 0 2px;
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 4px;
  background: none;
  appearance: none;
  -webkit-appearance: none;
}

/* User nav */
#app-user-nav {
  margin: 12px 0 0 0;
  padding: 0;
  max-height: 70vh;
  overflow-y: auto;
  list-style: none;
}

#app-user-nav li {
  padding: 8px 14px;
  border-bottom: 1px solid #888;
}

#app-user-nav li:hover {
  background: #57848e;
  color: #000;
}

/* DSE Selection */
#app-dsecontainer:empty {
  display: none;
}

.shelf {
  display: flex;
  align-items: center;
  margin: 6px 0;
  width: 100%;
  color: #333;
  overflow-x: auto;
  border-radius: 4px;
  background: #7FE7FF;
}
.shelf > .shelf-segment {
  padding: 12px;
  border-right: 1px solid #4c8b99;
}
.shelf > .shelf-segment:last-child {
  border-right: none;
}
.shelf > .shelf-segment-hpad {
  padding: 0 12px;
}

.dino-table {
  table-layout: fixed;
  max-width: 100%;
  width: 100%;
}
.dino-table thead {
  background: #30373e;
}
.dino-table thead th {
  padding: 16px 2px;
}
.dino-table thead th:nth-child(4) {
  width: 85px;
}
.dino-table tbody:nth-child(2n) {
  background: #283235;
}
.dino-table tbody td {
  padding: 1px 9px;
  word-wrap: break-word;
}
.dino-table tbody td:nth-child(1) {
  font-weight: 700;
}
.dino-table tbody td:nth-child(3) {
  font-size: 90%;
}

.tool-cs > #toolMount-shelf {
  padding: 0;
}
.tool-cs .shelf > .shelf-segment .cs-mod-dropdown {
  display: block;
  width: 100%;
  border: none;
  background: none;
}
.tool-cs .dino-table .gutter-container {
  margin: 8px 0;
}
.tool-cs .dino-header {
  margin: 0.2em 1em;
  color: #679cef;
}
.tool-cs .dino-header h2 {
  margin: 0 0 6px;
}
.tool-cs .dino-header p {
  font-style: italic;
}
.tool-cs .gutter-container {
  padding: 0;
}
.tool-cs .gutter-container .col-narrow {
  max-height: 74vh;
  overflow-y: auto;
}
.tool-cs .gutter-container .col-narrow > h4 {
  margin: 0 0 -5px 0;
  font-weight: 500;
}
.tool-cs .gutter-container .cell-visual-less {
  padding: 5px 7px;
}
.tool-cs .gutter-container .cell-visual-less.stat-unused {
  opacity: 0.5;
  border-color: #ff967f;
}
.tool-cs .gutter-container .cell-visual-less.stat-unused .stat-header {
  border-color: #ff967f;
}
.tool-cs .gutter-container .cell-visual-less label {
  font-weight: 700;
}
.tool-cs .stat-header {
  border-bottom: 1px solid #7FE7FF;
}
.tool-cs .stat-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tool-cs .stat-table div {
  padding-right: 5px;
}
.tool-cs .stat-table div label {
  font-weight: 600;
}
.tool-cs .stat-table div span {
  float: right;
}

.tool-dj .dino-table {
  table-layout: fixed;
  max-width: 100%;
  width: 100%;
}
.tool-dj .dino-table thead {
  background: #30373e;
}
.tool-dj .dino-table thead th {
  padding: 16px 2px;
}
.tool-dj .dino-table thead th:nth-child(4) {
  width: 85px;
}
.tool-dj .dino-table tbody tr:nth-child(2n) {
  background: #283235;
}
.tool-dj .dino-table tbody td {
  padding: 1px 9px;
  word-wrap: break-word;
}
.tool-dj .dino-table tbody td:nth-child(1) {
  font-weight: 700;
}
.tool-dj .dino-table tbody td:nth-child(3) {
  font-size: 90%;
}

.color-table {
  max-width: 100%;
  width: 100%;
}
.color-table thead {
  background: #30373e;
}
.color-table thead th {
  padding: 16px 2px;
}
.color-table tr:nth-child(2n) {
  background: #283235;
}
.color-table tr td {
  padding: 1px 5px;
  word-wrap: break-word;
}
.color-table tr td:nth-child(1) {
  font-weight: 700;
}

/*# sourceMappingURL=built.tool.css.map */
